
article{padding:20px;width:760px;margin:0 auto;}
article p{line-height:35px}
section p {font-size:14px;margin-top:10px}
section h2{font-size:20px;color:cadetblue;margin-top:20px;clear: both;line-height:35px;}
div img{width:110px;height:150px;position: absolute;right:50px;top:220px; }
header div{width: 760px;  height:150px;background:url("../images/bb.png" ) center;}
.left{float:left;}
.right{float:left;}
dl{width:220px;height:35px;font-size: 14px;line-height: 35px}
dd{float: left}
dt{float: left}
article h2{font-size:18px;font-weight:bold;color: white;line-height:50px;;width:100px; text-align:center;background:orchid;}
article{position: relative}
.qz span{margin:53px}
 img{width:110px;height:110px;position: absolute;right:50px;top:380px;}
@media all and (max-width:640px){
    article{width:100%;box-sizing: border-box;margin: 0}
    header div {width:100%}


    }
